@import url(./typography.css);

/*********** VARS ***********/
:root {
  --c-alt-black: #18181a;
  --c-beige: #ccc5bb;
  --c-black: #000;
  --c-dark-gray: #242424;
  --c-dmg-dark-gray: #4c4b50;
  --c-gray: #666;
  --c-white: #fff;
  --c-white-transparent: #ffffffa0;

  --c-blue: #7788ff;
  --c-lavender: #cc88ff;
  --c-red: #dd4444;
  --c-red-dark: #971b1b;

  --c-border-color: #66666650;
  --s-border-radius: 10px;
  --s-xx-small: 5px;
  --s-x-small: 10px;
  --s-small: 15px;
  --s-medium: 30px;
  --s-large: 45px;
  --s-x-large: 60px;
  --s-xx-large: 75px;
}

/*********** STYLES ***********/
* {
  box-sizing: border-box;
}

.bg--blue {
  background-color: var(--c-blue);
}

.bg--lavendar {
  background-color: var(--c-lavender);
}

.bg--red {
  background-color: var(--c-red);
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-height: 42px;
  min-width: 42px;
  padding: 15px;
}

.link--button {
  background: var(--c-red);
  border-radius: 10px;
  display: inline-block;
  font-weight: bold;
  margin-top: 15px;
  min-height: 45px;
  min-width: 45px;
  padding: 15px;
  outline: none;
  text-align: center;
  transition: background 0.25s;
  width: 100%;

  &:focus,
  &:hover {
    background: var(--c-red-dark);
  }

  &.external::after {
    content: "";
    background-image: url(../../assets/icons/external-link.svg);
    display: inline-block;
    height: 15px;
    margin-left: 10px;
    width: 15px;
  }

  @media (prefers-color-scheme: dark) {
    &::after {
      filter: invert(1);
    }
  }

  @media (min-width: 768px) {
    width: fit-content;
  }
}

.nav--button {
  border-radius: var(--s-border-radius);
  padding: var(--s-x-small);

  &:hover {
  }

  &.bg--red {
  }
}

body {
  margin: 0;
  padding: var(--s-small);
  position: relative;

  &::before {
    background-image: url(../../assets/images/icons.png);
    background-size: 200%;
    content: "";
    height: 100%;
    opacity: 0.1;
    width: 100%;
    z-index: -1;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--c-alt-black);

    &::before {
      background-image: url(../../assets/images/icons-white.png);
    }
  }

  @media (min-width: 768px) {
    margin: 0 auto;

    &::before {
      background-size: contain;
    }
  }
}

.skip-nav {
  background-color: var(--c-red);
  border-radius: 15px;
  color: var(--c-black);
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1;
  padding: 15px;
  position: absolute;
  top: -500px;

  &:focus {
    margin: 20px;
    top: 0;
  }
}

body.nav--mobile-open {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

header {
  background-color: var(--c-dmg-dark-gray);
  border-radius: var(--s-border-radius);
  display: flex;
  flex-direction: column;
  height: calc(var(--s-x-small) * 2 + var(--s-small) * 2 + 1.25rem);
  left: var(--s-small);
  gap: var(--s-small);
  padding: var(--s-small) var(--s-medium);
  position: fixed;
  right: var(--s-small);
  top: var(--s-small);
  transition: height 2s ease-in-out;
  z-index: 999;

  @media (prefers-color-scheme: dark) {
    background-color: var(--c-beige);
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }

  & a {
    font-size: 1rem;
  }

  &.nav--mobile-open {
    height: calc(100vh - var(--s-small));
  }
}

.nav {
  display: contents;
}

.nav__list {
  display: contents;
  visibility: hidden;
  transition: visibility 0s linear 1s;

  @media (min-width: 768px) {
    visibility: visible;
  }

  &.nav--mobile-open {
    visibility: visible;
  }
}

.nav__item {
  align-items: center;
  display: flex;
  list-style: none;

  &:hover {
  }
}

.nav__link {
  &.nav__link--active {
    background-color: var(--c-lavender);

    & .nav__panel-label {
      color: var(--c-black);
    }
  }
}

.nav__panel-label {
  color: var(--c-white);
  font-size: 1.5rem;

  @media (prefers-color-scheme: dark) {
    color: var(--c-black);
  }

  @media (min-width: 768px) {
  }
}

.nav__mobile-menu-button {
  background: none;
  border: none;
  margin-left: auto;
  padding: 0;

  & svg {
    fill: var(--c-white);
    height: 42px;
    width: 42px;

    @media (prefers-color-scheme: dark) {
      fill: var(--c-black);
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}

#main {
  margin-top: calc(var(--s-x-small) * 2 + var(--s-small) * 2 + 1.25rem);
}

.panel {
}

.panel-1,
.panel-2,
.panel-3,
.panel-5 {
}

.panel__content-box {
  background-color: var(--c-white);
  border: 2px solid var(--c-border-color);
  border-radius: var(--s-border-radius);
  margin: 0 auto;
  max-width: 1440px;
  padding: var(--s-small);
  width: 100%;

  @media (min-width: 768px) {
    padding: var(--s-medium);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--c-alt-black);
  }

  & ul {
    column-gap: 8px;
    display: flex;
    flex-wrap: wrap;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

  & li {
    font-size: 1.25rem;
  }
}

.contact-container {
  & form {
    & input,
    & textarea {
      background: none;
      border: none;
      border-radius: 5px;
      color: var(--c-white);
      font-size: 1rem;
      font-weight: bold;
      padding: 8px;
      position: relative;
      width: clamp(100px, 100%, 500px);
      z-index: 1;

      @media (prefers-color-scheme: dark) {
        color: var(--c-black);
      }
    }

    & textarea {
      padding: 8px;
    }

    & .input-container {
      column-gap: 8px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 16px;
    }

    & p {
      display: inline-block;
      margin: 0 0 4px;
    }

    .contact__input-wrapper {
      display: flex;
      position: relative;

      &::before {
        background: var(--c-white-transparent);
        border-radius: 5px;
        content: "";
        height: 100%;
        width: clamp(100px, 100%, 500px);
        z-index: 0;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
      }

      @media (prefers-color-scheme: dark) {
        &::before {
          background: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}

.spacer {
  width: 100%;

  &.spacer--small {
    height: var(--s-small);

    @media (min-width: 768px) {
      height: var(--s-medium);
    }
  }

  &.spacer--medium {
    height: var(--s-medium);

    @media (min-width: 768px) {
      height: var(--s-large);
    }
  }

  &.spacer--large {
    height: var(--s-large);

    @media (min-width: 768px) {
      height: var(--s-x-large);
    }
  }
}

.greetings-photo {
  border-radius: 100%;
  margin: 0 auto;
  width: 100%;

  @media (min-width: 768px) {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: auto;
  }
}
