@import url(./typography.css);

/*********** VARS ***********/
:root {
  --c-alt-black: #18181A;
  --c-black: #000;
  --c-dark-gray: #242424;
  --c-gray: #666;
  --c-white: #fff;

  --c-blue: #7788ff;
  --c-lavender: #cc88ff;
  --c-red: #dd4444;
  --c-red-dark: #971b1b;
}

/*********** STYLES ***********/
* {
  box-sizing: border-box;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-height: 42px;
  min-width: 42px;
  padding: 15px;
}

.link--button {
  background: var(--c-red);
  border-radius: 10px;
  display: inline-block;
  font-weight: bold;
  margin-top: 15px;
  min-height: 45px;
  min-width: 45px;
  padding: 15px;
  outline: none;
  text-align: center;
  transition: background 0.25s;
  width: 100%;

  &:focus,
  &:hover {
    background: var(--c-red-dark);
  }

  &.external::after {
    content: '';
    background-image: url(../../assets/images/external-link.svg);
    display: inline-block;
    height: 15px;
    margin-left: 10px;
    width: 15px;
  }

  @media (prefers-color-scheme: dark) {
    &::after {
      filter: invert(1);
    }
  }

  @media (min-width: 768px) {
    width: fit-content;
  }
}

html {
}

body {
  display: grid;
  grid-template-areas: 
    "blades-left . blades-right"
    "blades-left content blades-right"
    "blades-left . blades-right";
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 16px 1fr 16px;
  height: 100vh;
  margin: 0;
  max-height: 100vh;
  position: relative;

  &::before {
    animation: conveyor 30s linear infinite;
    background: url(../../assets/images/icons.png) repeat;
    background-size: contain;
    content: '';
    opacity: 0.1;
    width: 100vw;
    z-index: -1;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--c-alt-black);

    &::before {
      background: url(../../assets/images/icons-white.png) repeat;
      background-size: contain;
    }
  }

  /* @media (min-width: 768px) {
    margin: 0 auto;

    &::before {
      background-size: auto;
    }
  } */

  /* .blades {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: fixed;
  } */

  .blades--left {
    grid-area: blades-left;
  }

  .blades--right {
    grid-area: blades-right;
  }

  .blade {
    background-color: var(--c-white);
    color: var(--c-black);
    display: inline-block;
    height: 100vh;
    position: relative;
    width: 50px;

    .blade__text {
      display: inline-block;
      position: absolute;
      right: 50%;
      top: 50%;
      transform: translateX(50%) rotate(90deg);
      width: max-content;
    }
  }

  .content {
    display: flex;
    grid-area: content;
    margin: 0 auto;
    max-width: 1000px;
  }

  .radial-border {
    /* background: linear-gradient(to bottom right,red, orange, yellow, green, blue, indigo, violet); */
    background: linear-gradient(to bottom right,red, rebeccapurple);
    border-radius: 25px;
    height: fit-content;
    padding: 3px;
  }

  p {
    background: var(--c-alt-black);
    border-radius: 25px;
    margin: 0;
    padding: 20px;
  }
}

section#main {
}

@keyframes conveyor {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100vw;
  }
}
