@import url(./typography.css);

/*********** VARS ***********/
:root {
  --c-alt-black: #18181a;
  --c-black: #000;
  --c-dark-gray: #242424;
  --c-gray: #666;
  --c-white: #fff;

  --c-blue: #7788ff;
  --c-lavender: #cc88ff;
  --c-red: #dd4444;
  --c-red-dark: #971b1b;

  --s-border-radius: 15px;
  --s-small: 15px;
  --s-medium: 25px;
  --s-large: 40px;
  --s-x-large: 55px;
}

/*********** STYLES ***********/
* {
  box-sizing: border-box;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-height: 42px;
  min-width: 42px;
  padding: 15px;
}

.link--button {
  background: var(--c-red);
  border-radius: 10px;
  display: inline-block;
  font-weight: bold;
  margin-top: 15px;
  min-height: 45px;
  min-width: 45px;
  padding: 15px;
  outline: none;
  text-align: center;
  transition: background 0.25s;
  width: 100%;

  &:focus,
  &:hover {
    background: var(--c-red-dark);
  }

  &.external::after {
    content: "";
    background-image: url(../../assets/images/external-link.svg);
    display: inline-block;
    height: 15px;
    margin-left: 10px;
    width: 15px;
  }

  @media (prefers-color-scheme: dark) {
    &::after {
      filter: invert(1);
    }
  }

  @media (min-width: 768px) {
    width: fit-content;
  }
}

body {
  margin: 0;
  padding: var(--s-small);
  position: relative;

  &::before {
    background-image: url(../../assets/images/icons.png);
    background-size: 200%;
    content: "";
    height: 100%;
    opacity: 0.1;
    width: 100%;
    z-index: -1;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--c-alt-black);

    &::before {
      background-image: url(../../assets/images/icons-white.png);
    }
  }

  @media (min-width: 768px) {
    margin: 0 auto;

    &::before {
      background-size: contain;
    }
  }
}

.skip-nav {
  background-color: var(--c-red);
  border-radius: 15px;
  color: var(--c-black);
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1;
  padding: 15px;
  position: absolute;
  top: -500px;

  &:focus {
    margin: 20px;
    top: 0;
  }
}

body.nav--open .nav-open-background {
  opacity: 0.95;
  z-index: 8;
}

.nav-open-background {
  background: var(--c-gray);
  display: block;
  opacity: 0;
  transition: all 1s ease-in-out;
  z-index: -2;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.nav-close-button {
  background: url(../../assets/images/xmark-solid.svg) no-repeat var(--c-red)
    center;
  display: none;
  height: 45px;
  margin: 0;
  padding: 0;
  width: 45px;
  z-index: 10;

  top: 15px;
  right: 15px;
  position: fixed;

  &:focus,
  &:hover {
    background: url(../../assets/images/xmark-solid.svg) no-repeat var(--c-red)
      center;
    outline: solid 3px var(--c-blue);
  }
}

.nav--closed {
  &.nav {
    height: 45px;
    margin: 0;
    transform: none;
    width: 45px;

    top: 15px;
    left: unset;
    right: 15px;
    position: fixed;
  }

  & .nav__cover {
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 100%;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;

    width: 100%;
    z-index: 10;

    &:focus,
    &:hover {
      box-shadow: 0px 0px 5px 5px var(--c-red-dark);
    }
  }

  & .nav__panel-icon {
    flex-shrink: unset;
  }

  & .nav__panel-label {
    font-size: 0;
  }
}

.nav--open {
  & .nav__item {
    left: 50%;
    top: 50%;
  }

  & .nav__panel-label {
    transition: font-size 1s 1s ease-in-out;
  }

  & .nav__link {
    height: 50px;
    width: 50px;
  }
}

.nav {
  background-color: var(--c-red);
  border-radius: 50%;
  height: clamp(100px, 85vw, 500px);
  margin: auto;
  transition: all 1s ease-in-out;
  width: clamp(100px, 85vw, 500px);
  z-index: 9;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
}

.nav__cover {
  display: none;
}

.nav__list {
  height: 100%;
  margin: 0;
  padding: 50% 0 0 50%;
  position: relative;
  transform: rotate(-90deg);
  width: 100%;
}

.nav__item {
  list-style: none;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  transition:
    top 1s ease-in-out,
    right 1s ease-in-out,
    bottom 1s ease-in-out,
    left 1s ease-in-out;
  width: fit-content;

  @media (prefers-color-scheme: dark) {
  }

  &.active {
    & .nav__panel-icon--full {
      display: inline;
    }

    & .nav__panel-icon--empty {
      display: none;
    }
  }
}

.nav__link {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  transition:
    height 1s ease-in-out,
    width 1s ease-in-out;
  width: 10px;
}

.nav__panel-icon {
  height: 100%;
  flex-shrink: 0;
}

.nav__panel-icon--empty {
  @media (prefers-color-scheme: dark) {
    fill: var(--c-white);
  }
}

.nav__panel-icon--full {
  display: none;

  @media (prefers-color-scheme: dark) {
    fill: var(--c-white);
  }
}

.nav__panel-label {
  color: var(--c-white);
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  transform: rotate(90deg);
  transition: none;
  white-space: nowrap;

  @media (prefers-color-scheme: dark) {
    color: var(--c-black);
  }
}

.panel {
}

.panel-1,
.panel-2,
.panel-3,
.panel-5 {
}

.panel__content-box {
  background-color: var(--c-white);
  border-radius: var(--s-border-radius);
  margin: 0 auto;
  max-width: 1440px;
  padding: var(--s-small);
  width: 100%;

  @media (min-width: 768px) {
    padding: var(--s-medium);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--c-alt-black);
  }

  & ul {
    column-gap: 8px;
    display: flex;
    flex-wrap: wrap;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

  & li {
    font-size: 1.25rem;
  }
}

.read-more {
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  height: 24px;
  margin: auto auto 0;
  width: 24px;

  @media (prefers-color-scheme: dark) {
    filter: invert(1);
  }
}

.contact-container {
  & form {
    & input,
    & textarea {
      background: none;
      border: none;
      border-radius: 5px;
      color: var(--c-white);
      font-size: 1rem;
      font-weight: bold;
      padding: 8px;
      position: relative;
      width: clamp(100px, 100%, 500px);
      z-index: 1;

      @media (prefers-color-scheme: dark) {
        color: var(--c-black);
      }
    }

    & textarea {
      padding: 8px;
    }

    & .input-container {
      column-gap: 8px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 16px;
    }

    & p {
      display: inline-block;
      margin: 0 0 4px;
    }

    .contact__input-wrapper {
      display: flex;
      position: relative;

      &::before {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        content: "";
        height: 100%;
        width: clamp(100px, 100%, 500px);
        z-index: 0;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
      }

      @media (prefers-color-scheme: dark) {
        &::before {
          background: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}

.spacer {
  width: 100%;

  &.spacer--small {
    height: var(--s-small);

    @media (min-width: 768px) {
      height: var(--s-medium);
    }
  }

  &.spacer--medium {
    height: var(--s-medium);

    @media (min-width: 768px) {
      height: var(--s-large);
    }
  }

  &.spacer--large {
    height: var(--s-large);

    @media (min-width: 768px) {
      height: var(--s-xlarge);
    }
  }
}

.greetings-photo {
  border-radius: 100%;
  margin: 0 auto;
  width: 100%;

  @media (min-width: 768px) {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: auto;
  }
}

@keyframes bounce {
  25% {
    margin-bottom: 20px;
  }

  50% {
    margin-bottom: 0;
  }

  75% {
    margin-bottom: 8px;
  }
}
